/build
/dist
**/*.egg-info
# ignore architecture dependent files
**/*.so
**/*.o
**/*.pyc
__pychache__/
# ignore emacs backup files
*~
\#*\#
# ignore pyscf temporary files
tmp*

# From latex
notes/*.aux
notes/*.bbl
notes/*.blg
notes/*.log
notes/*.pdf
notes/acs-main.bib
